@import url('https://fonts.cdnfonts.com/css/gladriel');
@import url('https://fonts.cdnfonts.com/css/athena');

body {
    background-color: #eaecef;
    margin: 0;
}

#register-form {
    width: 35%;
    background-color: white;
}

#register-form img {
    width: 50%;
}

#reg-username,
#reg-email,
#reg-pw {
    width: 85%;
}

#signup-btn {
    width: 90%;
}

#navbar,
#footer {
    height: 50px;
    display: flex;
}

#navbar {
    position: fixed;
    z-index: 999;
}



#right-area img {
    width: 35px;
}

#navbar,
#footer {
    width: 100%;
    height: 100px;
    background-color: #302c22;
}


#leftnav,
#leftfooter {
    /* padding-left: 10px; */
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}

#leftfooter {
    width: 50%;
}

#rightnav,
#rightfooter {
    /* padding-right: 10px; */
    /* display: flex;
    justify-content: flex-end; */
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
}

#rightfooter {
    width: 50%;
}

#rightnav ul,
#leftnav ul,
#rightfooter ul {
    list-style-type: none;
    display: flex;
    padding: 7px;
}

#rightnav ul li a,
#leftnav ul li a,
#rightfooter ul li,
#leftfooter h4 {
    margin: 10px;
    padding: 10px;
    color: #b2ac82;
    font-size: 35px;
}

#rightnav ul li a:hover,
#leftnav ul li a:hover,
#leftnav ul li a svg:hover #rightfooter ul li:hover {
    list-style-type: none;
    color: #8f774b;
    fill: #8f774b;
}

/* SLIDESHOW */
.slideshow {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#leftnav ul li a svg {
    margin-top: 10px;
}

#footer img{
    fill: #b2ac82 !important;
    margin-top: -5px;
}

#footer #leftfooter h4 {
    left: 50px;
}

#footer #rightfooter h4 {
    right: 50px;
}

#navbar h1 {
    text-align: center;
    left: 470px;
    top: 10px;
    font-size: 70px;
}

#navbar h1,
#footer h4 {
    font-family: 'Gladriel', sans-serif;
    color: #c8c69a;
    position: absolute;
    margin: 0;
}

.Slides {
    width: 100%;
    height: 600px;
}

.ss-btn button {
    background-color: #eaecef;
    color: #8f774b;
    border-radius: 50%;
    opacity: 0.6;
}

.btn-large:focus {
    background-color: #eaecef !important;
}

.ss-btn {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 400px;
}

.ss-btn button:hover {
    background-color: #8f774b;
    color: #b2ac82;
    opacity: 0.8;
}

#footer {
    font-family: 'Gladriel', sans-serif;
    margin: 0px;
    padding: 0px;
}

#post-img {
    height: 700px;
    width: 600px;
}

.post {
    height: 1200px;
    width: 100%;
    display: flex;
    font-family: 'Athena', sans-serif;
    font-size: larger;
    font-weight: 500;
    display: flex;
}

.post h1 {
    font-family: 'Gladriel', sans-serif;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

.theme {
    height: 900px;
    margin: 10px;
    font-weight: 500;
    border-radius: 20px;
    display: flex;
    /* justify-content: space-around; */

}

.theme img {
    border-radius: 10px;
    margin-top: 30px;
    padding-top: 30px;
    height: 600px;
    width: 90%;  
}

.theme img:hover {
    animation-name: imgchange;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.theme img:not(hover) {
    animation-name: imgchange2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes imgchange {
    from {
        scale: 1.0;
        opacity: 80%;
    }

    to {
        scale: 1.1;
        opacity: 100%;
    }
}

@keyframes imgchange2 {
    from {
        scale: 1.1;
        opacity: 100%;
    }

    to {
        scale: 1.0;
        opacity: 80%;
    }
}

.card-body {
    height: 200px;
    width: 90%;
}

.card-title {
    font-family: 'Athena', sans-serif;
    font-size: 60px;
    color: #302c22;
}

/* style shorten p */
.card-text {
    -webkit-box-orient: vertical;
    /* number of dòng */
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    /* style cho đều chữ k bị tràn/thiếu */
    text-align: justify;
}

.btn {
    background-color: #302c22;
    border: none;
    color: #b2ac82;
    font-size: 25px;
}

.btn:hover {
    background-color: #8f774b;
}

.btn:focus {
    background-color: #8f774b !important;
}

