@import url('https://fonts.cdnfonts.com/css/gladriel');
@import url('https://fonts.cdnfonts.com/css/athena');

body {
    background-color: #eaecef;
    margin: 0;
}

#register-form {
    width: 35%;
    background-color: white;
}

#register-form img {
    width: 50%;
}

#reg-username,
#reg-email,
#reg-pw {
    width: 85%;
}

#signup-btn {
    width: 90%;
}

#navbar {
    height: 50px;
    display: flex;
}



#right-area img {
    width: 35px;
}

#navbar {
    width: 100%;
    height: 100px;
    background-color: #213555;
}

#leftnav {
    /* padding-left: 10px; */
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}

#rightnav {
    /* padding-right: 10px; */
    /* display: flex;
    justify-content: flex-end; */
    position: absolute;
    right: 0;
}

#rightnav ul li a,
#leftnav ul li a {
    list-style-type: none;
    color: #D8C4B6;
}

#rightnav ul li a:hover,
#leftnav ul li a:hover {
    list-style-type: none;
    color: #A79277;
}
/* SLIDESHOW */
.slideshow {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  .mySlides {
    width: 100vw;
  }